<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/mapbox.js"></script>
    <link rel="stylesheet" href="/css/mapbox.css">
    <link rel="stylesheet" href="/css/app.css">

    <title>Boilerplate</title>
</head>
<body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar') %>
    <main class="container mt-5">
        <%- include('../partials/flash') %>
        <%- body %>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/popperjs.js"></script>
    <script src="/js/bootstrap.js"></script>
    
    <script src="/js/formValidation.js"></script>
    <script src="/js/flashCloser.js"></script>
    
</body>
</html>